:root {
  --theme-color-white: #ffffff;
  --theme-color-black: rgb(0, 0, 0);
  --theme-color-title: #452103;
  --theme-color-footer: rgb(235, 212, 212);
  --theme-bg-body: rgb(243, 225, 225);
  --theme-bg-footer: #452103;
  --theme-bg-card: rgba(133 133 133 / 0.1);
  --theme-nav-text: rgba(255 255 255 / 1);
  --theme-color-: rgb(125, 90, 90);
  --theme-color: rgba(241, 209, 209, 0.5);
  --theme-color-: rgb(243, 225, 225);
  --theme-color-bg: rgb(250, 242, 242);
  --theme-color-: rgb(255, 240, 240);
  --theme-color-: rgb(235, 212, 212);
  --theme-color-: rgb(131, 88, 88);
  --theme-color-: rgb(70, 51, 51);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--theme-color-bg);
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header img {
  width: 75px;
  border-radius: 100px;
}
header nav ul a {
  display: flex;
  background: var(--theme-bg-body);
  border-radius: 50px;
  padding: 0px 10px !important;
  margin: 5px;
  color: var(--theme-bg-footer);
  font-size: 1.15rem;
}

.jumbo-tron {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(../img/banner-2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  z-index: -1;
}
.jumbo-tron .header-text {
  height: 500px;
}
.jumbo-tron .wave {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.name_page {
  font-family: "Aloja", sans-serif;
  font-size: 6rem;
  color: var(--theme-bg-footer);
  margin: 0;
  font-weight: bold;
}
@media only screen and (max-width: 578px) {
  .name_page {
    font-size: 3rem;
  }
}

.slogan-page {
  color: var(--theme-bg-footer);
  margin-bottom: 60px;
}
.slogan-page span {
  font-weight: normal;
  text-decoration: none;
  color: #ca2e55;
}
@media only screen and (max-width: 578px) {
  .slogan-page {
    font-size: 1rem;
  }
}

:root {
  --theme-color-white: #ffffff;
  --theme-color-black: rgb(0, 0, 0);
  --theme-color-title: #452103;
  --theme-color-footer: rgb(235, 212, 212);
  --theme-bg-body: rgb(243, 225, 225);
  --theme-bg-footer: #452103;
  --theme-bg-card: rgba(133 133 133 / 0.1);
  --theme-nav-text: rgba(255 255 255 / 1);
  --theme-color-: rgb(125, 90, 90);
  --theme-color: rgba(241, 209, 209, 0.5);
  --theme-color-: rgb(243, 225, 225);
  --theme-color-bg: rgb(250, 242, 242);
  --theme-color-: rgb(255, 240, 240);
  --theme-color-: rgb(235, 212, 212);
  --theme-color-: rgb(131, 88, 88);
  --theme-color-: rgb(70, 51, 51);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--theme-color-bg);
  font-family: "Roboto", sans-serif;
}

.emmas-home h2 {
  text-align: center;
  font-family: "Aloja", cursive;
  font-size: 3.5rem;
  color: var(--theme-bg-footer);
}
@media only screen and (max-width: 578px) {
  .emmas-home h2 {
    font-size: 1.75rem;
  }
}
.emmas-home .img-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.emmas-home .img_brownie {
  height: 17rem;
}
@media only screen and (max-width: 578px) {
  .emmas-home .img_brownie {
    height: 9rem;
  }
}
.emmas-home .svg_brownie {
  position: absolute;
  transform: translate(-30%, -30%);
  z-index: -1;
  height: 600px;
}
@media only screen and (max-width: 578px) {
  .emmas-home .svg_brownie {
    height: 300px;
  }
}
.emmas-home .img_chocoteja {
  height: 23rem;
}
@media only screen and (max-width: 578px) {
  .emmas-home .img_chocoteja {
    height: 11rem;
  }
}
.emmas-home .svg_chocoteja {
  position: absolute;
  transform: translate(-20%, -20%);
  z-index: -1;
  height: 600px;
}
@media only screen and (max-width: 578px) {
  .emmas-home .svg_chocoteja {
    height: 300px;
  }
}
.emmas-home .img_alfajor {
  height: 18rem;
}
@media only screen and (max-width: 578px) {
  .emmas-home .img_alfajor {
    height: 8rem;
  }
}
.emmas-home .svg_alfajor {
  position: absolute;
  transform: translate(-30%, -35%);
  z-index: -1;
  height: 600px;
}
@media only screen and (max-width: 578px) {
  .emmas-home .svg_alfajor {
    height: 300px;
  }
}
.emmas-home .card {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
}
.emmas-home .card h3 {
  font-family: "Aloja", cursive;
  font-size: 3.5rem;
  color: var(--theme-color-title);
}
.emmas-home .card .card-body {
  padding: 0;
}
.emmas-home .card .card-body p {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}
.emmas-home .card .card-body .text-secondary {
  font-size: 1rem;
}
.emmas-home .card .card-body .text-secondary span {
  font-size: 1rem;
  font-weight: bold;
}
@media only screen and (max-width: 578px) {
  .emmas-home .card h3 {
    font-size: 1.75rem;
  }
  .emmas-home .card .card-body p {
    font-size: 0.85rem;
  }
  .emmas-home .card .card-body .text-secondary {
    font-size: 0.75rem;
  }
  .emmas-home .card .card-body .text-secondary span {
    font-size: 0.75rem;
  }
}

:root {
  --theme-color-white: #ffffff;
  --theme-color-black: rgb(0, 0, 0);
  --theme-color-title: #452103;
  --theme-color-footer: rgb(235, 212, 212);
  --theme-bg-body: rgb(243, 225, 225);
  --theme-bg-footer: #452103;
  --theme-bg-card: rgba(133 133 133 / 0.1);
  --theme-nav-text: rgba(255 255 255 / 1);
  --theme-color-: rgb(125, 90, 90);
  --theme-color: rgba(241, 209, 209, 0.5);
  --theme-color-: rgb(243, 225, 225);
  --theme-color-bg: rgb(250, 242, 242);
  --theme-color-: rgb(255, 240, 240);
  --theme-color-: rgb(235, 212, 212);
  --theme-color-: rgb(131, 88, 88);
  --theme-color-: rgb(70, 51, 51);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--theme-color-bg);
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header img {
  width: 75px;
  border-radius: 100px;
}
header nav ul a {
  display: flex;
  background: var(--theme-bg-body);
  border-radius: 50px;
  padding: 0px 10px !important;
  margin: 5px;
  color: var(--theme-bg-footer);
  font-size: 1.15rem;
}

.jumbo-tron {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(../img/banner-2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  z-index: -1;
}
.jumbo-tron .header-text {
  height: 500px;
}
.jumbo-tron .wave {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.name_page {
  font-family: "Aloja", sans-serif;
  font-size: 6rem;
  color: var(--theme-bg-footer);
  margin: 0;
  font-weight: bold;
}
@media only screen and (max-width: 578px) {
  .name_page {
    font-size: 3rem;
  }
}

.slogan-page {
  color: var(--theme-bg-footer);
  margin-bottom: 60px;
}
.slogan-page span {
  font-weight: normal;
  text-decoration: none;
  color: #ca2e55;
}
@media only screen and (max-width: 578px) {
  .slogan-page {
    font-size: 1rem;
  }
}

.emmas-about h2 {
  text-align: center;
  font-family: "Aloja", cursive;
  font-size: 3.5rem;
  color: var(--theme-color-bg);
  letter-spacing: 0.5;
  font-weight: lighter;
}
@media only screen and (max-width: 578px) {
  .emmas-about h2 {
    font-size: 1.75rem;
  }
}
.emmas-about .card {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
}
.emmas-about .card .card-img {
  display: flex;
  align-items: center;
  min-height: 460px;
  border-radius: 15px;
  overflow: hidden;
}
.emmas-about .card .video-frame {
  border-radius: 10px;
  overflow: hidden;
  height: max-content;
}
.emmas-about .card .video-frame svg {
  height: 530px;
  top: -45px;
}
.emmas-about .card .video-frame .svg_1 {
  height: 560px;
  z-index: 1;
}
.emmas-about .card .video_media {
  height: 300px;
}
.emmas-about .card .card-title {
  width: max-content;
  background: var(--theme-color-white);
  padding: 20px;
  transform: translateX(-40%);
  border-radius: 15px;
  z-index: 1;
}
.emmas-about .card .card-title h3 {
  font-weight: bolder;
}
.emmas-about .card .card-title h3 span {
  font-family: "Aloja", sans-serif;
  color: var(--theme-bg-footer);
  font-size: 2.15rem;
  font-weight: normal;
}
.emmas-about .card .card-description p {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  color: white;
}

.bg-brown {
  background: var(--theme-bg-footer);
}

@media only screen and (max-width: 578px) {
  .emmas-about h2 {
    text-align: center;
    font-family: "Aloja", cursive;
    font-size: 3.5rem;
    color: var(--theme-color-bg);
    letter-spacing: 0.5;
    font-weight: lighter;
  }
}
@media only screen and (max-width: 578px) and (max-width: 578px) {
  .emmas-about h2 {
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 578px) {
  .emmas-about .card {
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
  }
  .emmas-about .card .card-img {
    display: flex;
    align-items: center;
    min-height: 300px;
    border-radius: 15px;
    overflow: hidden;
  }
  .emmas-about .card .video-frame {
    border-radius: 10px;
    overflow: hidden;
    height: max-content;
  }
  .emmas-about .card .video-frame svg {
    height: 530px;
    top: -125px;
  }
  .emmas-about .card .video-frame .svg_1 {
    height: 560px;
    z-index: 1;
  }
  .emmas-about .card .video_media {
    height: 300px;
  }
  .emmas-about .card .card-title {
    width: max-content;
    background: var(--theme-color-white);
    padding: 10px;
    transform: translate(50%, -20%);
    border-radius: 15px;
    z-index: 1;
  }
  .emmas-about .card .card-title h3 {
    font-size: 1rem;
    font-weight: bolder;
    margin: 0;
  }
  .emmas-about .card .card-title h3 span {
    font-size: 0.85rem;
  }
  .emmas-about .card .card-description p {
    font-size: 0.85rem;
  }
}
:root {
  --theme-color-white: #ffffff;
  --theme-color-black: rgb(0, 0, 0);
  --theme-color-title: #452103;
  --theme-color-footer: rgb(235, 212, 212);
  --theme-bg-body: rgb(243, 225, 225);
  --theme-bg-footer: #452103;
  --theme-bg-card: rgba(133 133 133 / 0.1);
  --theme-nav-text: rgba(255 255 255 / 1);
  --theme-color-: rgb(125, 90, 90);
  --theme-color: rgba(241, 209, 209, 0.5);
  --theme-color-: rgb(243, 225, 225);
  --theme-color-bg: rgb(250, 242, 242);
  --theme-color-: rgb(255, 240, 240);
  --theme-color-: rgb(235, 212, 212);
  --theme-color-: rgb(131, 88, 88);
  --theme-color-: rgb(70, 51, 51);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--theme-color-bg);
  font-family: "Roboto", sans-serif;
}

.emmas-buy h2 {
  font-family: "Aloja", "Aloja-2", sans-serif;
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 0.5px;
  color: var(--theme-color-title);
  margin-bottom: 50px;
}
@media only screen and (max-width: 578px) {
  .emmas-buy h2 {
    font-size: 1.75rem;
  }
}
.emmas-buy .card {
  border-radius: 15px;
  border: none;
  min-height: 21rem;
}
.emmas-buy .card .card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.emmas-buy .card .card-img img {
  height: 150px;
}
@media only screen and (max-width: 578px) {
  .emmas-buy .card .card-img {
    padding: 10px;
  }
  .emmas-buy .card .card-img img {
    height: 85px;
  }
}
.emmas-buy .card .card-body p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1.15;
}
@media only screen and (max-width: 578px) {
  .emmas-buy .card .card-body p {
    font-size: 0.75rem;
    font-weight: normal;
  }
}
.emmas-buy .card:hover {
  transform: scale(1.02);
  transition: 0.25s ease all;
}
.bg-pink {
  background-color: rgba(34, 162, 221, 0.3);
}

.bg-yellow {
  background-color: rgba(255, 255, 0, 0.2);
}

.bg-green {
  background-color: rgba(244, 91, 105, 0.3);
}

.spikes {
  position: relative;
  height: 0px;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0%;
  top: 100%;
  z-index: 3;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, var(--theme-color-bg) 25%, transparent 25%), linear-gradient(225deg, var(--theme-color-bg) 25%, transparent 25%);
  background-position: 0 0;
}

.spikes-2 {
  position: relative;
  height: 0px;
}

.spikes-2::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0%;
  bottom: 100%;
  z-index: 3;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, var(--theme-bg-footer) 25%, transparent 25%), linear-gradient(225deg, var(--theme-bg-footer) 25%, transparent 25%);
  background-position: 0 0;
}

@media only screen and (max-width: 578px) {
  .emmas-buy h2 {
    font-size: 1.75rem;
  }
  .emmas-buy .card {
    min-height: 11rem;
  }
  .emmas-buy .card .card-img {
    padding: 10px;
  }
  .emmas-buy .card .card-img img {
    height: 85px;
  }
  .emmas-buy .card .card-body {
    padding: 10px;
  }
  .emmas-buy .card .card-body p {
    font-size: 0.85rem;
    font-weight: normal;
    margin-bottom: 0;
  }

  .spikes {
    position: relative;
    height: 0px;
  }

  .spikes::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0%;
    top: 100%;
    z-index: 3;
    display: block;
    height: 50px;
    background-size: 50px 100%;
    background-image: linear-gradient(135deg, var(--theme-color-bg) 25%, transparent 25%), linear-gradient(225deg, var(--theme-color-bg) 25%, transparent 25%);
    background-position: 0 0;
  }

  .spikes-2 {
    position: relative;
    height: 0px;
  }

  .spikes-2::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0%;
    bottom: 100%;
    z-index: 3;
    display: block;
    height: 50px;
    background-size: 50px 100%;
    background-image: linear-gradient(135deg, var(--theme-bg-footer) 25%, transparent 25%), linear-gradient(225deg, var(--theme-bg-footer) 25%, transparent 25%);
    background-position: 0 0;
  }
}
:root {
  --theme-color-white: #ffffff;
  --theme-color-black: rgb(0, 0, 0);
  --theme-color-title: #452103;
  --theme-color-footer: rgb(235, 212, 212);
  --theme-bg-body: rgb(243, 225, 225);
  --theme-bg-footer: #452103;
  --theme-bg-card: rgba(133 133 133 / 0.1);
  --theme-nav-text: rgba(255 255 255 / 1);
  --theme-color-: rgb(125, 90, 90);
  --theme-color: rgba(241, 209, 209, 0.5);
  --theme-color-: rgb(243, 225, 225);
  --theme-color-bg: rgb(250, 242, 242);
  --theme-color-: rgb(255, 240, 240);
  --theme-color-: rgb(235, 212, 212);
  --theme-color-: rgb(131, 88, 88);
  --theme-color-: rgb(70, 51, 51);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--theme-color-bg);
  font-family: "Roboto", sans-serif;
}

footer {
  background-color: var(--theme-bg-footer);
  margin-top: 10rem;
}
footer .f-margin {
  margin-top: -50px;
}
footer img {
  width: 7rem;
}
footer h3 {
  color: var(--theme-color-white);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
}
footer ul .nav-link {
  padding: 0.15rem;
  color: var(--theme-color-footer);
  font-size: 1rem;
  line-height: 1.25;
}
footer ul .nav-link:hover {
  color: var(--theme-color-white);
}

.share-buttons {
  display: flex;
  flex-direction: column;
}
.share-buttons .share-button {
  float: left;
  margin-top: 15px;
}
.share-buttons .share-button:first-child {
  margin-top: 0;
}
.share-buttons .share-button:after {
  clear: both;
  display: table;
}

.share-button {
  display: block;
  position: relative;
  height: 30px;
}
.share-button:hover {
  cursor: pointer;
}
.share-button:hover .share-button-primary {
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.3);
}
.share-button:hover .share-button-secondary-content {
  transform: translate3d(0, 0, 0);
}

.share-button-primary {
  position: absolute;
  background: var(--theme-color-white);
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  left: 0;
  top: 50%;
  margin-top: -15px;
}

.share-button-icon {
  display: block;
  color: var(--theme-color-title);
  position: absolute;
  width: 30px;
  line-height: 30px;
  font-size: 16px;
  margin-top: 1px;
}

.share-button-secondary {
  overflow: hidden;
  margin-left: 15px;
  height: 30px;
}

.share-button-secondary-content {
  font-size: 1rem;
  background: var(--theme-color-white);
  display: block;
  height: 30px;
  text-align: left;
  padding-left: 24px;
  padding-right: 18px;
  line-height: 30px;
  color: var(--theme-color-title);
  border-radius: 0 15px 15px 0;
  transform: translate3d(-100%, 0, 0);
  transition: transform 175ms ease;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.45);
    opacity: 0;
  }
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  width: auto;
  height: auto;
  position: fixed;
  z-index: 8;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  margin: 0px;
}
@media (max-width: 360px) {
  .nav-bottom {
    width: 320px;
  }
}

.whatsapp-button {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  z-index: 10;
  transition: 0.3s;
  margin: 10px;
  padding: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #77bb4a;
  /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
  -webkit-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
}

.circle-anime {
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  transition: 0.3s;
  background-color: #77bb4a;
  animation: pulse 1.2s 4s ease 4;
}

.popup-whatsapp {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: auto;
  padding: 10px;
  bottom: 85px;
  right: 6px;
  transition: 0.5s;
  border-radius: 10px;
  background-color: var(--theme-color-white);
  /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
  -webkit-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  animation: slideInRight 0.6s 0s both;
}
.popup-whatsapp > div {
  margin: 5px;
}
@media (max-width: 680px) {
  .popup-whatsapp p {
    font-size: 0.9em;
  }
}
.popup-whatsapp > .content-whatsapp.-top {
  display: flex;
  flex-direction: column;
}
.popup-whatsapp > .content-whatsapp.-top p {
  color: #585858;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1em;
}
.popup-whatsapp > .content-whatsapp.-bottom {
  display: flex;
  flex-direction: row;
}

.closePopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin: 0px 0px 15px 0px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #f76060;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}
.closePopup:hover {
  background-color: #f71d1d;
  transition: 0.3s;
}

.send-msPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0px 0px 0px 5px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}
.send-msPopup:hover {
  background-color: #f8f8f8;
  transition: 0.3s;
}

.is-active-whatsapp-popup {
  display: flex;
  animation: slideInRight 0.6s 0s both;
}

input.whats-input[type=text] {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 0px solid #ffffff;
  border-radius: 20px;
  font-size: 1em;
  background-color: #ffffff;
  padding: 0px 0px 0px 10px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  outline: none;
  transition: 0.3s;
}
@media (max-width: 420px) {
  input.whats-input[type=text] {
    width: 225px;
  }
}
input.whats-input::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(68, 68, 68, 0.705);
  opacity: 1;
}
input.whats-input[type=text]:focus {
  background-color: #f8f8f8;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  transition: 0.3s;
}

.icon-whatsapp-small {
  width: 24px;
  height: 24px;
}

.icon-whatsapp {
  font-size: 2.5rem;
  color: var(--theme-color-white);
}

.icon-font-color {
  color: #ffffff;
}

.icon-font-color--black {
  color: #333333;
}

:root {
  --theme-color-white: #ffffff;
  --theme-color-black: rgb(0, 0, 0);
  --theme-color-title: #452103;
  --theme-color-footer: rgb(235, 212, 212);
  --theme-bg-body: rgb(243, 225, 225);
  --theme-bg-footer: #452103;
  --theme-bg-card: rgba(133 133 133 / 0.1);
  --theme-nav-text: rgba(255 255 255 / 1);
  --theme-color-: rgb(125, 90, 90);
  --theme-color: rgba(241, 209, 209, 0.5);
  --theme-color-: rgb(243, 225, 225);
  --theme-color-bg: rgb(250, 242, 242);
  --theme-color-: rgb(255, 240, 240);
  --theme-color-: rgb(235, 212, 212);
  --theme-color-: rgb(131, 88, 88);
  --theme-color-: rgb(70, 51, 51);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--theme-color-bg);
  font-family: "Roboto", sans-serif;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: Aloja;
  src: url(../fonts/Aloja-Light.eot) format("embedded-opentype"), url(../fonts/Aloja-Light.woff) format("woff");
}

/*# sourceMappingURL=style.css.map */
