<div class="container emmas-about">
    <h2 class="emmas-our">NOSOTROS</h2>
    <div class="row">
        <div class="card" >
            <div class="card-img">
                <img src="../img/img-about.jpeg" alt="Img About">
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h2 class="about-title">Emma's</h2>
                </div>
                <div class="card-description">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit voluptatibus omnis
                        reprehenderit nobis, facere eius adipisci. In, enim! Nulla possimus eaque similique consequatur
                        quidem culpa tenetur quia atque sit dolores?Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Labore, harum ipsam quia perferendis perspiciatis, dolores reiciendis at incidunt dolorum
                        quidem facere iste sapiente maxime mollitia laborum tempora veritatis dicta repudiandae?</p>
                </div>
            </div>
        </div>
    </div>
</div>