<div class="emmas-buy container py-5">
    <h2>¿Cómo comprar?</h2>
    <div class="row">
        <div class="col-4" data-aos="fade-up" data-aos-duration="500">
            <div class="card">
                <div class="card-img">
                    <img src="../img/icons/step-1.png" alt="">
                </div>
                <div class="card-body">
                    <p>Elige el producto que más te guste</p>
                </div>
            </div>
        </div>
        <div class="col-4" data-aos="fade-up" data-aos-duration="1000">
            <div class="card">
                <div class="card-img ">
                    <img class="" src="../img/icons/step-2.png" alt="">
                </div>
                <div class="card-body">
                    <p>Armalo a tu gusto</p>
                </div>
            </div>
        </div>
        <div class="col-4" data-aos="fade-up" data-aos-duration="1500">
            <div class="card">
                <div class="card-img">
                    <img src="../img/icons/step-3.png" alt="">
                </div>
                <div class="card-body">
                    <p>Envianos tu pedido por WhatsApp</p>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script>
    AOS.init();
</script>