@import '5_variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


header {

    img {
        width: 4rem;
        border-radius: 100px;
    }

    nav {
        ul {

            a { 
                display: flex;
                background: var(--theme-bg-body);
                border-radius: 50px;
                padding: 0px 10px !important;
                margin: 5px;
                color: var(--theme-bg-footer);
                font-size: 1.15rem;
    
            }
        }
    }

}

.jumbo-tron {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(../img/banner-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    z-index: -1;

    .header-text {
        height: 500px;
    }


    .wave {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

}
.name_page {
    font-family: 'Aloja',sans-serif;
    font-size: 6rem;
    color: var(--theme-bg-footer);
    margin: 0;
    font-weight: bold;

    @media only screen and (max-width: 578px) {
        font-size: 3rem;
    }
}

.slogan-page{
    color: var(--theme-bg-footer);
    margin-bottom: 60px;

    span {
        font-weight: normal;
        text-decoration: none;
        color: #ca2e55;
    }

    @media only screen and (max-width: 578px) {
        font-size: 1rem;
    }
}





 
 
  
  