@import '5_variables.scss';

.emmas-home {

    h2 {
        display: flex;
        justify-content: center;
        z-index: 15;
        text-align: center;
        font-family: 'Aloja', cursive;
        font-size: 1.75rem;
        color: var(--theme-bg-footer);

        @media only screen and (min-width: 992px) {
            font-size: 3.5rem;
        }
    }

    .img-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img_brownie {
        height: 17rem;

        @media only screen and (max-width: 768px) {
            height: 9rem;
        }
    }

    .svg_brownie {
        position: absolute;
        transform: translate(-30%, -30%);
        z-index: -1;
        height: 600px;

        @media only screen and (max-width: 768px) {
            height: 300px;
            transform: translate(-30%, -20%);
        }
    }

    .img_chocoteja {
        height: 23rem;

        @media only screen and (max-width: 768px) {
            height: 11rem;
        }
    }

    .svg_chocoteja {
        position: absolute;
        transform: translate(-20%, -20%);
        z-index: -1;
        height: 600px;

        @media only screen and (max-width: 768px) {
            height: 300px;
            transform: translate(-15%, -20%);
        }
    }

    .img_alfajor {
        height: 18rem;

        @media only screen and (max-width: 768px) {
            height: 8rem;
        }
    }

    .svg_alfajor {
        position: absolute;
        transform: translate(-30%, -35%);
        z-index: -1;
        height: 600px;

        @media only screen and (max-width: 768px) {
            height: 300px;
        }
    }

    .card {
        background: none;
        border: none;
        display: flex;
        justify-content: center;

        h3 {
            font-family: 'Aloja', cursive;
            font-size: 1.25rem;
            color: var(--theme-color-title);
        }

        .card-body {
            padding: 0;

            p {
                font-size: .85rem;
                margin-bottom: .25rem;

            }

            .text-secondary {
                font-size: .85rem;
                color: #ca2e55 !important;

                span {
                    font-size: .85rem;
                    font-weight: bold;
                }
            }
        }

        @media only screen and (min-width: 768px) {
            h3 {
                font-size: 1.5rem;
            }

            .card-title {
                margin: 0;
            }

            .card-body {

                p {
                    font-size: 1rem;
                }

                .text-secondary {
                    font-size: 1rem;
                    color: #ca2e55;

                    span {
                        font-size: 1rem;
                        color: #ca2e55;
                    }
                }
            }

        }
        @media only screen and (min-width: 992px) {
            h3 {
                font-size: 2.5rem;
            }

            .card-title {
                margin: 0;
            }

            .card-body {

                p {
                    font-size: 1.15rem;
                }

                .text-secondary {
                    font-size: 1.15rem;
                    color: #ca2e55;

                    span {
                        font-size: 1.15rem;
                        color: #ca2e55;
                    }
                }
            }

        }
        @media only screen and (min-width: 1200px) {
            h3 {
                font-size: 3rem;
            }

        }
    }

}
.where {
    p {
        display: flex;
        align-items: center;
        font-size: .85rem;
        letter-spacing: 0.5px;
        color: var(--theme-bg-body);
    }
    img {
        width: 20px;
    }
}