@import '0_navbar.scss';

.emmas-about {

    h2 {
        text-align: center;
        font-family: 'Aloja', cursive;
        font-weight: lighter;
        font-size: 1.75rem;
        letter-spacing: 0.5;
        color: var(--theme-color-bg);

        @media only screen and (min-width: 992px) {
            font-size: 3.5rem;
        }
    }

    .card {
        background: none;
        border: none;
        display: flex;
        flex-direction: row;

        .card-img {
            @include flex-center;
            min-height: 300px;
            border-radius: 15px;

        }

        .video-frame {
            border-radius: 10px;
            height: max-content;

            img {
                height: 16rem;
                border-radius: 55% 45% 38% 62% / 59% 48% 52% 41%;

                @media only screen and (min-width: 576px) {
                    height: 20rem;
                }

                @media only screen and (min-width: 768px) {
                    height: 16rem;
                }

                @media only screen and (min-width: 992px) {
                    height: 21rem;
                }

                @media only screen and (min-width: 1200px) {
                    height: 25rem;
                }
            }

            .svg_1 {
                top: -25px;
                left: 0;
                height: 350px;
                z-index: 1;

                @media only screen and (min-width: 576px) {
                    top: -45px;
                    height: 422px;
                }

                @media only screen and (min-width: 768px) {
                    top: -45px;
                    height: 422px;
                }

                @media only screen and (min-width: 992px) {
                    top: -76px;
                    height: 520px;
                }
            }
        }

        .video_media {
            height: 300px;
        }

        .card-title {
            width: max-content;
            background: var(--theme-color-white);
            padding: 10px;
            transform: translate(40%, -50%);
            border-radius: 15px;
            z-index: 1;

            @media only screen and (min-width: 992px) {
                transform: none;

                h3 {
                    font-size: 1.75rem;

                    span {
                        font-size: 1.5rem;
                    }
                }
            }

            h3 {
                font-size: 1.25rem;
                font-weight: bolder;
                margin: 0;

                span {
                    font-family: 'Aloja', sans-serif;
                    color: var(--theme-bg-footer);
                    font-size: $p-size;
                    font-weight: normal;
                }

                @media only screen and (min-width: 992px) {
                    font-size: 1.75rem;

                    span {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .card-description {
        p {
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            font-weight: lighter;
            text-align: center;
            color: var(--theme-color-white);

            @media only screen and (min-width: 576px) {
                font-size: 1.15rem;
            }

            @media only screen and (min-width: 768px) {
                font-size: 1.25rem;
                text-align: left;
            }
        }
    }

}



.bg-brown {
    background: var(--theme-bg-footer);
}