@import '0_navbar.scss';

.emmas-about {

    h2 {
        text-align: center;
        font-family: 'Aloja', cursive;
        font-size: 3.5rem;
        color: var(--theme-color-bg);
        letter-spacing: 0.5;
        font-weight: lighter;

        @media only screen and (max-width: 578px) {
            font-size: 1.75rem;
        }
    }
    
    .card {
        background: none;
        border: none;
        display: flex;
        flex-direction: row;

        .card-img{
            display: flex;
            align-items: center;
            min-height: 460px;
            border-radius: 15px;
            overflow: hidden;
        }
        .video-frame{
            border-radius: 10px;
            overflow: hidden;
            height: max-content;

            img{
                height: 250px;
                border-radius: 55% 45% 38% 62% / 59% 48% 52% 41% ;
            }
            .svg_1 {
                height: 560px;
                z-index: 1;
            }
        }
        .video_media{
            height: 300px;
        }
        .card-title {
            width: max-content;
            background: var(--theme-color-white);
            padding: 20px;
            transform: translateX(-40%);
            border-radius: 15px;
            z-index: 1;

            h3 {
                font-weight: bolder;

                span {
                    font-family: 'Aloja', sans-serif;
                    color: var(--theme-bg-footer);
                    font-size: 2.15rem;
                    font-weight: normal;
                }
            }
        }

        .card-description {
            p {

                font-family: 'Roboto', sans-serif;
                font-weight: lighter;
                font-size: 1.5rem;
                color: white;
            }
        }

    }



}
.bg-brown {
    background: var(--theme-bg-footer);
}

@media only screen and (max-width: 578px) {
    .emmas-about {

        h2 {
            text-align: center;
            font-family: 'Aloja', cursive;
            font-size: 3.5rem;
            color: var(--theme-color-bg);
            letter-spacing: 0.5;
            font-weight: lighter;
    
            @media only screen and (max-width: 578px) {
                font-size: 1.75rem;
            }
        }
        
        .card {
            background: none;
            border: none;
            display: flex;
            flex-direction: row;
    
            .card-img{
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 300px;
                border-radius: 15px;
                overflow: hidden;
            }
            .video-frame{
                border-radius: 10px;
                overflow: hidden;
                height: max-content;
    
                img{
                    height: 16rem;
                }
                .svg_1 {
                    top: -120px;
                    left: 0;
                    height: 560px;
                    z-index: 1;
                }
            }
            .video_media{
                height: 300px;
            }
            .card-title {
                width: max-content;
                background: var(--theme-color-white);
                padding: 10px;
                transform: translate(50%, -20%);
                border-radius: 15px;
                z-index: 1;
    
                h3 {
                    font-size: 1.25rem;
                    font-weight: bolder;
                    margin: 0;
                    span {
                        font-size: 1rem;
                    }
                }
            }
    
            .card-description {
                p {
                    text-align: center;
                    font-size: 1rem;
                }
            }
    
        }
    
    
    
    }
}