@import '5_variables.scss';

.emmas-buy {
    
    h2 {
        font-family: 'Pacifico', sans-serif;
        text-align: center;
        font-size: 3.5rem;
        letter-spacing: 0.5px;
        color: var(--theme-color-title);
        margin-bottom: 50px;
    }

    .card {
        border-radius: 15px;
        border: none;
        min-height: 21rem;

        .card-img {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
            img {
                height: 150px;
            }
        }
        .card-body {
            p{
                text-align: center;
                font-size: 1.5rem;
                font-weight:lighter;
                line-height: 1.15;
            }
        }
    }

}
.bg-pink {
    background-color: rgba(pink, 0.2);
}
.bg-yellow {
    background-color: rgba(yellow, 0.2);
}
.bg-green {
    background-color: rgba( springgreen, 0.2);
}
.spikes {
    position: relative;
    height: 0px;
  }
  
  .spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 3;
    display: block;
    height: 50px;
    background-size: 50px 100%;
    background-image: linear-gradient(135deg, var(--theme-color-bg) 25%, transparent 25%), linear-gradient(225deg, var(--theme-color-bg) 25%, transparent 25%);
    background-position: 0 0;
  }
  .spikes-2 {
    position: relative;
    height: 0px;
  }
  
  .spikes-2::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    bottom: 100%;
    z-index: 3;
    display: block;
    height: 50px;
    background-size: 50px 100%;
    background-image: linear-gradient(135deg, var(--theme-bg-footer) 25%, transparent 25%), linear-gradient(225deg, var(--theme-bg-footer) 25%, transparent 25%);
    background-position: 0 0;
  }