@import '5_variables.scss';

footer {
    background-color: var(--theme-bg-footer);
    margin-top: 7rem;

    .f-margin {
        margin-top: -40px;
    }

    .brand-footer {
        font-family: 'Aloja', cursive;
        font-size: 1.25rem;
        color: var(--theme-color-white);
        margin: 0;

        @media only screen and (min-width: 768px) {
            font-size: 1.5rem;
        }
    }

    h3 {
        color: var(--theme-color-white);
        font-family: 'Roboto', sans-serif;
        font-size: 0.85rem;
        font-weight: bold;
        letter-spacing: 0.5px;

    }
    .media-social {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        border: 1px solid var(--theme-color-bg);
        border-radius: 50px;
        width: 35px;
        height: 35px;
        margin: 0 5px;
        color: var(--theme-bg-body);
        text-decoration: none;
    }

    ul {
        .nav-link {
            padding: 0.15rem;
            color: var(--theme-color-footer);
            font-size: .85rem;
            line-height: 1.25;

            &:hover {
                color: var(--theme-color-white);
            }

        }
    }
}
.wave-footer {
    position: absolute;
    height: 4rem;
    overflow: hidden;
    width: 100%;
    bottom: 100%;

    @media only screen and (min-width: 768px) {
        height: 6rem;;
    }
}

$button-height: 30px;
$box-width: 300px;
$box-height: 212px;

.share-buttons {
    display: flex;
    flex-direction: column;

    .share-button {
        float: left;
        margin-top: 15px;

        &:first-child {
            margin-top: 0;
        }

        &:after {
            clear: both;
            display: table;
        }
    }
}

.share-button {
    display: block;
    position: relative;
    height: $button-height;

    &:hover {
        cursor: pointer;

        .share-button-primary {
            box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.3);
        }

        .share-button-secondary-content {
            transform: translate3d(0, 0, 0);
        }
    }
}

.share-button-primary {
    position: absolute;
    background: var(--theme-color-white);
    width: $button-height;
    height: $button-height;
    text-align: center;
    border-radius: ($button-height / 2);
    left: 0;
    top: 50%;
    margin-top: -($button-height / 2);
}

.share-button-icon {
    display: block;
    color: var(--theme-color-title);
    position: absolute;
    width: $button-height;
    line-height: $button-height;
    font-size: 16px;
    margin-top: 1px;
}

.share-button-secondary {
    overflow: hidden;
    margin-left: ($button-height / 2);
    height: $button-height;
}

.share-button-secondary-content {
    font-size: 1rem;
    background: var(--theme-color-white);
    display: block;
    height: $button-height;
    text-align: left;
    padding-left: ($button-height * .8);
    padding-right: ($button-height * .6);
    line-height: $button-height;
    color: var(--theme-color-title);
    border-radius: 0 ($button-height / 2) ($button-height / 2) 0;
    transform: translate3d(-100%, 0, 0);
    transition: transform 175ms ease;
}

@mixin shadowBox ($OffsetX, $OffsetY, $blurRadius, $spreadRadius, $colorShadow) {
    -webkit-box-shadow: $OffsetX $OffsetY $blurRadius $spreadRadius $colorShadow;
    -moz-box-shadow: $OffsetX $OffsetY $blurRadius $spreadRadius $colorShadow;
    box-shadow: $OffsetX $OffsetY $blurRadius $spreadRadius $colorShadow;
}

$width-input: 250px;
$color-input: #ffffff;
$placeholder-input: rgba(68, 68, 68, 0.705);
$base-font-size: 1.0em;


@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }

    50% {
        opacity: 0.3;
    }

    100% {
        transform: scale(1.45);
        opacity: 0;
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}


.nav-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    width: auto;
    height: auto;
    position: fixed;
    z-index: 8;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    margin: 0px;

    @media (max-width: 360px) {
        width: 320px;
    }
}

.whatsapp-button {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 60px;
    height: 60px;
    z-index: 10;
    transition: .3s;
    margin: 10px;
    padding: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(119, 187, 74);
    @include shadowBox(1px, 1px, 6px, 0px, rgba(68, 68, 68, 0.705));
}

.circle-anime {
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    width: 60px;
    height: 60px;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    transition: .3s;
    background-color: rgb(119, 187, 74);
    animation: pulse 1.2s 4.0s ease 4;
}

.popup-whatsapp {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    height: auto;
    padding: 10px;
    bottom: 85px;
    right: 6px;
    transition: .5s;
    border-radius: 10px;
    background-color: rgba( 255 255 255 / 0.4);
    backdrop-filter: blur(5px);
    @include shadowBox(2px, 1px, 6px, 0px, rgba(68, 68, 68, 0.705));
    animation: slideInRight .6s 0.0s both;

    &>div {
        margin: 5px;
    }

    @media (max-width: 680px) {
        p {
            font-size: 0.9em;
        }
    }

    &>.content-whatsapp {
        &.-top {
            display: flex;
            flex-direction: column;

            p {
                color: rgb(88, 88, 88);
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 1.0em;
            }
        }

        &.-bottom {
            display: flex;
            flex-direction: row;
        }
    }
}

.closePopup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin: 0px 0px 15px 0px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(247, 96, 96);
    @include shadowBox(1px, 1px, 2px, 0px, rgba(68, 68, 68, 0.705));

    &:hover {
        background-color: rgb(247, 29, 29);
        transition: .3s;
    }
}

.send-msPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0px 0px 0px 5px;
    border: none;
    outline: none;
    cursor: pointer;
    @include shadowBox(1px, 1px, 2px, 0px, rgba(68, 68, 68, 0.705));

    &:hover {
        background-color: #f8f8f8;
        transition: .3s;
    }
}

.is-active-whatsapp-popup {
    display: flex;
    animation: slideInRight .6s 0.0s both;
}

// input style
input {
    &.whats-input[type=text] {
        width: $width-input;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid $color-input;
        border-radius: 20px;
        font-size: $base-font-size;
        background-color: rgba( 255 255 255 / .8);
        padding: 0px 0px 0px 10px;
        -webkit-transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
        outline: none;
        transition: .3s;

        @media (max-width: 420px) {
            width: $width-input - 25px;
        }
    }

    &.whats-input {
        &::placeholder {
            color: $placeholder-input;
            opacity: 1;
        }

        &[type=text]:focus {
            background-color: #f8f8f8;
            -webkit-transition: width 0.3s ease-in-out;
            transition: width 0.3s ease-in-out;
            transition: .3s;
        }
    }
}

.icon-whatsapp-small {
    width: 24px;
    height: 24px;
}

.icon-whatsapp {
    font-size: 2.5rem;
    color: var(--theme-color-white)
}

.icon-font-color {
    color: #ffffff
}

.icon-font-color--black {
    color: #333333
}

.credits {
    font-size: 0.65rem;
    color: rgba( 255 255 255 / 0.3);
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
    letter-spacing: 0.75px;
}